<?xml version="1.0" encoding="utf-8"?>
<!--~
  ~  @project   sortbyfield
  ~  @license   GPLv3
  ~  @copyright Copyright (c) 2021-2023 Nicholas K. Dionysopoulos
  -->

<form>
    <fields name="sortbyfield" addfieldprefix="Dionysopoulos\Plugin\System\SortByField\Field">
        <fieldset name="sortbyfield"
                  label="PLG_SYSTEM_SORTBYFIELD_FIELDSET_HEAD"

        >
            <field
                    name="field"
                    type="Joomlafield"
                    label="PLG_SYSTEM_SORTBYFIELD_FIELD_LABEL"
                    description="PLG_SYSTEM_SORTBYFIELD_FIELD_DESC"
            >
            </field>

            <field
                    name="ordering"
                    type="list"
                    label="JGLOBAL_ORDER_DIRECTION_LABEL"
                    description="JGLOBAL_ORDER_DIRECTION_DESC"
            >
                <option value="ASC">JGLOBAL_ORDER_ASCENDING</option>
                <option value="DESC">JGLOBAL_ORDER_DESCENDING</option>
            </field>
        </fieldset>
    </fields>
</form>